.picture {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

#score {
  text-align: center;
}

#store {
  display: flex;
  justify-content: center;
}

#store table {
  border-collapse: collapse;
}

#store th {
  text-align: center;
  padding: 8px 16px;
}