.picture {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 600px;
}

#score {
  text-align: center;
}

#store {
  display: flex;
  justify-content: center; /* vízszintesen középre */
}

#store table {
  border-collapse: collapse; /* opcionális, hogy ne legyen dupla vonal */
}

#store th {
  text-align: center; /* szöveget középre a cellában */
  padding: 8px 16px;  /* opcionális, hogy legyen szellősebb */
}